body{

    background-color: rgb(255, 243, 243);
}
.logo{
     width: 20%;
}
.cabeçalho{ 
background-color: rgb(244, 245, 226); display: flex; justify-content: space-around;
}
.lista1{
    display: inline-block; margin: 0
        16px; padding: 12px 0; font-size: 12px;
}
* {margin: 0; padding: 0;}
.titulo{
    text-align: center;
}
.sol{
    width: 20%;
}